<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:authority" value="https://adfs.sunshinecoast.qld.gov.au/adfs/services/trust"/>
    <add key="ida:resourceURI" value="https://eddie.c1.sccl.qld.gov.au/hprmwebclient/"/>
    <add key="ida:clientID" value="ab762716-544d-4aeb-a526-687b73838a33"/>
    <add key="ida:clientReturnURI" value="https://eddie.c1.sccl.qld.gov.au/hprmserviceapi/"/>
  </appSettings>
</configuration>

